body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    justify-content: center;
    height: 700px;
}

.btn_ios {
    color: white;
    background-color: hsl(171, 66%, 44%);
    width: 200px;
    height: 50px;
    border-radius: 37px;
    border: none;
    font-weight: 700px;
    margin-right: 15px;
}

.btn_ios:hover {
    background-color: hsla(171, 66%, 44%, 0.699);
}

.btn_mac {
    color: white;
    background-color: hsl(233, 100%, 69%);
    width: 200px;
    height: 50px;
    border-radius: 37px;
    border: none;
    font-weight: 700px;
}

.btn_mac:hover {
    background-color: hsla(233, 100%, 69%, 0.671);
}

.container_btn {
    margin-top: 20px;
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 27px;
    margin-bottom: 0px;
    margin-top: 60px;
}

p {
    color: hsl(201, 11%, 66%);
}

#text_header {
    width: 620px;
    text-align: center;
}

section {
    width: 1440px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#first_section {
    display: flex;
    margin-top: 70px;
}

#column_texts {
    flex-direction: column;
    text-align: left;
    margin-left: 90px;
}

.width_100 {
    width: 100%;
}

#ctn_img_first_section {
    width: 50%;
    background-position-x: right;
    background-image: url("images/image-computer.png");
    height: 600px;
    background-repeat: no-repeat;
}

.width_02_100 {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center_section03 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center_bottom_horizon {
    display: flex;
    justify-content: center;
}

#text_mid {
    margin-left: 30px;
    margin-right: 30px;
}

#div_spacing {
    margin: 0px;
    margin-bottom: 70px;
}

.size_icon {
    height: 40px;
}

.container_images_s3 {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 150px;
}